.projects {
    border-left: 1px dashed var(--c-sub);
    padding-left: 0.8rem;
    margin-top: clamp(2rem, 4vw, 5rem);
}

.project {
    display: flex;
    justify-content: space-between;
}

.project:not(:last-child) {
    margin-bottom: clamp(5rem, 15vw, 20rem);
}

.project h3 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: flex-start;
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
    margin-right: clamp(2rem, 3vw, 4rem);
    font-style: italic;
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.project__img {
    margin-bottom: 2rem;
}

.project__img img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.5);
}

.project__text {
    /* max-width: 25rem; */
    /* align-self: flex-end; */
}

.project__description {
    border-bottom: 1px dashed var(--c-sub);
    padding-bottom: 1rem;
}

.project__description p {
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
}

.project__tech {
    padding-top: 1rem;
    border-bottom: 1px dashed var(--c-sub);
    padding-bottom: 1rem;
}

.project__tech p {
    font-family: var(--ff-code);
    font-weight: var(--fw-regular);
    color: var(--c-main);
    opacity: 0.5;
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

.project__tech ul {
    list-style: none;
    display: flex;
    width: 100%;
}

.project__tech li:not(:last-child) {
    margin-right: 1rem;
}

.project__links ul {
    display: flex;
    list-style: none;
    padding-top: 1rem;
}

.project__links li:not(:last-child) {
    margin-right: clamp(1.2rem, 1.6vw, 1.8rem);
}

.project__link {
    text-decoration: none;
    color: var(--c-main);
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

.project__link:visited {
    color: var(--c-main);
}

.project__links li {
    position: relative;
    display: inline-block;
}

.project__links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--c-main);
    height: 1px;
    width: 100%;
    transform-origin: bottom right;
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
}

.project__links li:hover::after {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: bottom left;
}

@media only screen and (min-width: 43.75em) {
    .flex-container {
        flex-direction: row;
    }

    .project__img {
        width: 70%;
        margin-bottom: 0;
        padding-right: clamp(3rem, 3vw, 4rem);
    }

    .project__text {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        min-width: 20rem;
    }

    .project__text p {
        text-align: right;
    }

    .project__tech {
        border-bottom: none;
    }

    .project__tech ul {
        justify-content: flex-end;
    }

    .project__links ul {
        justify-content: flex-end;
    }
}