.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding-top: 1rem;
}

.project-text {
    /* width: 30%; */
}

.project-text h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    /* padding-bottom: 1rem; */
    /* border-bottom: 1px solid var(--c-sub); */
    font-style: italic;
    font-weight: var(--fw-medium);
}

.project-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    display: flex;
}

.tech-list {
    /* justify-content: flex-end; */
    font-family: var(--ff-code);
    margin-bottom: 1rem;
}

.tech-list li:not(:last-child) {
    margin-right: 1.2rem;
}

.link-list {
    border-top: 1px solid var(--c-sub);
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.link-list li:not(:last-child) {
    margin-right: 1rem;
}

.link-list a:visited {
    color: var(--c-main);
}

.project-img {
    width: 100%;
    /* border-top: 1px solid var(--c-sub); */
    /* padding-top: 1rem; */
}

.project-img img {
    width: 100%;
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.5);
}