.hero {
    /* min-height: calc(100vh - clamp(6.3rem, 10vw, 10rem)); */
    height: 100vh;
    padding: clamp(6.3rem, 10vw, 10rem) 0 clamp(4rem, 8vw, 6rem);
    /* padding-bottom: clamp(4rem, 8vw, 6rem); */
    text-transform: uppercase;
    margin-bottom: clamp(15rem, 20vw, 30rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* justify-content: space-between; */
}

.hero-text {
    display: inline-block;
    text-align: right;
}

.name, .divider {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    font-style: italic;
}

.divider {
    margin: 0 .5rem;
    font-weight: var(--fw-regular);
}

p {
    font-size: clamp(1.4rem, 1.8vw, 1.6rem);
}

.about {
    margin-bottom: clamp(2rem, 3vw, 4rem);
}

.email, .position {
    margin-bottom: .5rem;
}

.email {
    text-transform: lowercase;
}

.hero-image {
    height: clamp(16rem, 25vw, 25rem);
    width: 100%;
    background-image: url('../../assets/hero-img.jpg');
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    margin-top: .2rem;
}

.inf-scroll {
    display: flex;
    /* display: flex;
    align-items: center; */
    width: 100%;
    white-space: nowrap;
    animation: scrollToLeft 15s infinite linear;
}

.smiley {
    font-size: 1.2rem;
    margin: 0 .5rem;
}

.position, .location {
    font-weight: var(--fw-semi-bold);
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90rem;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 43.75em) {
    .flex-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 61.25em) {
    .hero {
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero-text {
        flex: 1;
    }

    .hero-image {
        background-position: 50% 80%;
    }

    .hero-container {
        width: 60%;
        margin-left: clamp(2rem, 4vw, 4rem);
    }

    .contact {
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
    }

    .email {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

@keyframes scrollToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}