.skills {
    /* margin-left: clamp(-10rem, -6vw, -2rem);
    width: calc(100% + clamp(4rem, 12vw, 20rem)); */
    overflow: hidden;
    margin-top: 2rem;
}

.skills__category {
    text-align: center;
    margin-bottom: clamp(2rem, 3vw, 4rem);
}

.skills__category h3 {
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    font-weight: var(--fw-semi-bold)
}

.inf-scroll {
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1px solid var(--c-main);
    margin-bottom: 1rem;
}

.inf-scroll--left {
    animation: scrollToLeft 80s infinite linear;
}

.inf-scroll--right {
    animation: scrollToRight 100s infinite linear;
}

.inf-scroll span {
    font-size: clamp(4rem, 8vw, 10rem);
    font-weight: var(--fw-light);
    display: inline-block;
    min-width: 100vw;
    margin-right: 3rem;
}

.inf-scroll--right span {
    color: var(--c-sub);
}

@keyframes scrollToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollToRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}