.skills {
    /* margin-left: clamp(-10rem, -6vw, -2rem);
    width: calc(100% + clamp(4rem, 12vw, 20rem)); */
    /* margin-top: 2rem; */
}

.skills__category {
    display: block;
    margin-bottom: clamp(1rem, 3vw, 3rem);
    overflow: hidden;
    border-top: 1px solid var(--c-main);
}

.skills__category h3 {
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    font-weight: var(--fw-semi-bold);
    border-top: 1px solid var(--c-main);
    padding-top: clamp(0.5rem, 0.8vw, 1rem);
    text-align: right;
}

.inf-scroll {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.inf-scroll--left {
    animation: scrollToLeft 30s infinite linear;
}

.inf-scroll--right {
    animation: scrollToRight 30s infinite linear;
}

.skill {
    font-size: clamp(4rem, 8vw, 10rem);
    font-weight: var(--fw-regular);
    font-style: italic;
}

.divider {
    margin: 0 clamp(1rem, 2vw, 3rem);
    text-transform: lowercase;
    font-style: normal;
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: var(--fw-light);
}

.inf-scroll--right span {
    color: var(--c-sub);
}

@keyframes scrollToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(clamp(-400rem, -400vw, -100rem));
    }
}

@keyframes scrollToRight {
    0% {
        transform: translateX(clamp(-400rem, -400vw, -100rem));
    }

    100% {
        transform: 0;
    }
}