.section {
    margin-bottom: clamp(10rem, 20vw, 30rem);
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-bottom: 2rem;
    font-size: clamp(1.6rem, 1vw, 2rem);
    font-weight: var(--fw-medium);
}

@media only screen and (min-width: 43.75em) {
    .rotate {
        flex-direction: row;
        justify-content: space-between;
    }

    .rotate .section-title {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        margin-bottom: 0;
    }

    .rotate .container-2 {
        width: 80%;
    }
}