.section {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.section__title h2 {
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-style: italic;
    font-weight: var(--fw-medium);
    color: var(--c-sub);
    opacity: 0.7;
    padding-right: clamp(1.5rem, 2vw, 3rem);
}

.line {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: var(--c-sub);
}

@media only screen and (min-width: 61.25em) {
    .section {
        width: 80%;
        max-width: 100rem;
    }
}