.about {
    display: flex;
    flex-direction: column;
}

.about h3 {
    font-weight: var(--fw-regular);
    font-size: clamp(3rem, 4.5vw, 6rem);
    font-style: italic;
    padding: clamp(2rem, 3vw, 4rem) 0;
    border-bottom: 1px solid var(--c-sub);
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__me, .about__experience {
    padding: clamp(2rem, 3vw, 4rem) 0;
}

.smiley-icon {
    margin: 0 .5rem;
}

.greeting {
    font-weight: var(--fw-medium) !important;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about__content p, .skill {
    font-weight: var(--fw-light);
    font-size: clamp(1.4rem, 1.8vw, 1.6rem);
}

/* .about__content {
    margin-bottom: clamp(10rem, 15vw, 20rem);
} */

.about__me {
    border-bottom: 1px dashed var(--c-sub);
}

.about__me p {
    line-height: clamp(2rem, 2.2vw, 2.4rem);
}

.about__me p:not(:last-child) {
    margin-bottom: 1.8rem;
}

.about__experience {
    text-transform: uppercase;
}

.about__career {
    border-bottom: 1px solid var(--c-sub);
    margin-bottom: 3rem;
}

.company {
    font-weight: var(--fw-regular) !important;
}

.year {
    font-weight: var(--fw-light) !important;
}

.about__career h4, .about__tech h4 {
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.1rem;
}

.about__tech {
    overflow: hidden;
}

.tech-category {
    margin-bottom: 1rem;
}

.category-title {
    border-top: 1px solid var(--c-sub);
    padding-top: 0.5rem;
    text-align: right;
    font-size: 1rem;
    font-weight: var(--fw-medium);
}

.inf-scroll {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.inf-scroll--left {
    animation: scrollToLeft 40s infinite linear;
}

.inf-scroll--right {
    animation: scrollToRight 40s infinite linear;
}

.divider {
    margin: 0 1rem;
}

.space {
    display: inline-block;
    margin-right: 10%;
}

@media only screen and (min-width: 43.75em) {
    .about__content {
        flex-direction: row;
    }

    .about__me {
        border-bottom: none;
        border-right: 1px dashed var(--c-sub);
        padding-right: clamp(1rem, 2vw, 2rem);
        width: 55%;
    }

    .about__experience {
        padding-left: clamp(1rem, 2vw, 2rem);
        width: 45%;
    }
}

@keyframes scrollToLeft {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-100rem);
    }
}

@keyframes scrollToRight {
    from {
        transform: translateX(-100rem);
    }

    to {
        transform: translateX(0rem);
    }
}