.about {
    display: flex;
    flex-direction: column;
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__me {
    padding-top: clamp(3rem, 3vw, 4rem);
}

.about__me {
    padding-bottom: clamp(3rem, 3vw, 4rem);
}

.smiley-icon {
    margin: 0 .5rem;
}

/* .about__content p, .skill {
    font-weight: var(--fw-light);
    font-size: clamp(1.4rem, 1.8vw, 2rem);
} */

.about__me p {
    font-weight: var(--fw-light);
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    line-height: clamp(2rem, 2.8vw, 3rem);
}

.about__me p:not(:last-child) {
    margin-bottom: 1.8rem;
}

.greeting {
    font-weight: var(--fw-regular) !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about__experience {
    text-transform: uppercase;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
}

.about__career {
    border-bottom: 1px solid var(--c-sub);
    margin-bottom: 2rem;
}

.skill {
    white-space: nowrap;
}

.company {
    font-weight: var(--fw-regular) !important;
}

.year {
    font-weight: var(--fw-light) !important;
}

.about__career h4, .about__tech h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.tech-category:not(:last-child) {
    margin-bottom: 1.5rem;
}

.category-title {
    border-top: 1px solid var(--c-sub);
    padding-top: 0.5rem;
    text-align: right;
    font-size: 1rem;
    font-weight: var(--fw-medium);
}

.divider {
    margin: 0 1rem;
}

.space {
    display: inline-block;
    margin-right: 4rem;
}

.about__experience-title {
    margin-bottom: 2.5rem;
    font-weight: var(--fw-regular);
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    text-transform: none;
    line-height: clamp(2rem, 2.8vw, 3rem);
}

@media only screen and (min-width: 61.25em) {
    .about__content {
        flex-direction: row;
        justify-content: space-between;
    }

    .about__me {
        border-bottom: none;
        border-right: 1px solid var(--c-sub);
        padding-right: clamp(2rem, 4vw, 5rem);
        width: 55%;
    }

    .about__experience {
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-top: clamp(3rem, 3vw, 4rem);
        padding-left: clamp(2rem, 4vw, 5rem);
        padding-bottom: clamp(2rem, 4vw, 5rem);
    }
}