.contact {
    display: inline-block;
}

.contact h3 {
    font-size: clamp(4rem, 17vw, 25rem);
    font-weight: var(--fw-medium);
    margin-left: clamp(-1.7rem, -1.1vw, -0.2rem);
}

.contact p {
    font-size: clamp(1.2rem, 1.6vw, 2rem);
    width: 65vw;
    margin-top: clamp(-2rem, -1vw, -0.2rem);
    font-weight: var(--fw-medium);
}