.contact {
    margin: auto;
    text-align: center;
    /* background-color: #dadada; */
    /* margin-left: clamp(-10rem, -6vw, -2rem);
    margin-right: clamp(-10rem, -6vw, -2rem); */
    margin-bottom: clamp(10rem, 15vw, 20rem);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h3 {
    font-size: clamp(4rem, 15vw, 20rem);
    font-weight: var(--fw-medium);
    font-style: italic;
}

.contact p {
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    font-weight: var(--fw-regular);
}

.link-list {
    text-transform: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link-list a {
    font-size: clamp(1.8rem, 3vw, 4rem);
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--c-main);
    border-bottom: 1px solid var(--c-main);
}

.link-list a:visited {
    color: var(--c-main);
}

.link-list li:not(last-child) {
    margin-bottom: 1.8rem;
}

.divider {
    display: block;
    height: 0px;
    border-top: 1px dashed var(--c-sub);
    width: 100%;
    margin: clamp(2rem, 4vw, 5rem) 0;
}

@media only screen and (min-width: 43.75em) {
    .contact {
        max-width: 100rem;
        width: 80%;
    }
}

@media only screen and (min-width: 28em) {
    .link-list {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .link-list li:not(last-child) {
        margin-bottom: 0;
    }
}