.contact {
    margin: auto;
    text-align: center;
    /* padding-top: clamp(5rem, 8vw, 5rem); */
    padding-top: clamp(3rem, 4vw, 5rem);
    padding-bottom: clamp(10rem, 20vw, 18rem);
    overflow: hidden;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.contact__content p {
    font-size: clamp(1.2rem, 1.8vw, 2.5rem);
    font-weight: var(--fw-light);
}

.link-list {
    text-transform: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.link-list a, button {
    font-size: clamp(1.8rem, 3vw, 4rem);
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--c-main);
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.link-list a::after, button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background-color: var(--c-main);
    transform-origin: bottom left;
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
}

.link-list a:hover::after, button:hover::after {
    transform-origin: bottom right;
    transform: scaleX(0);
}

.link-list a:visited {
    color: var(--c-main);
}

.link-list li:not(:last-child) {
    margin-bottom: 2.5rem;
}

.divider {
    display: block;
    height: 0px;
    width: 100%;
    border-top: 1px dashed var(--c-sub);
    margin: clamp(4rem, 5vw, 5rem) 0;
}

.inf-scroll {
    display: inline-flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    animation: scrollToLeft 40s infinite linear;
}

.inf-scroll h3 {
    font-size: clamp(4rem, 15vw, 20rem);
    font-weight: var(--fw-medium);
    margin-right: clamp(2rem, 6vw, 8rem);
    text-transform: lowercase;
}

@media only screen and (min-width: 28em) {
    .link-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .link-list li:not(last-child) {
        margin-bottom: 0;
    }
}

@keyframes scrollToLeft {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-500rem);
    }
}