.hamburger-menu {
    position: fixed;
    width: 100%;
    background-color: var(--c-main);
    color: var(--c-bg);
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 1s ease;
}

.hamburger-menu__content {
    margin-bottom: clamp(2rem, 6vw, 10rem);
}

.hamburger-menu__title h2 {
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: var(--fw-light);
}

.hamburger-menu__links {
    list-style: none;
    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    font-weight: var(--fw-light);
}

.hamburger-menu__links li:not(:last-child) {
    margin-bottom: 1rem;
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    border-top: 1px dashed var(--c-bg);
    margin: 2rem 0;
    opacity: 0.6;
}

.hamburger-menu__info {
    opacity: 0.6;
}

.hamburger-menu__info p {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.hamburger-menu__info p:not(:last-of-type) {
    margin-bottom: 1rem;
}

.email {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: var(--fw-light);
    width: 100%;
    padding-top: 2rem;
}

.line {
    width: 100%;
    height: 1px;
    border-top: 1px dashed var(--c-bg);
    margin-right: 1.5rem;
}

.email p {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    color: var(--c-bg);
}

.close {
    transform: translateY(100vh);
}

.hamburger-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.hamburger-menu__header * {
    color: var(--c-bg);
}

.close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: var(--fw-regular);
    font-family: var(--f-main);
}

.logo {
    font-weight: var(--fw-semi-bold);
    font-style: italic;
}

.logo, .close-button {
    text-transform: uppercase;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
}