.hamburger-menu {
    position: fixed;
    width: 100%;
    background-color: var(--c-main);
    color: var(--c-bg);
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translateY(100vh);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-menu__content {
    margin-bottom: clamp(2rem, 6vw, 10rem);
}

.hamburger-menu__title h2 {
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: var(--fw-light);
}

.hamburger-menu__links {
    list-style: none;
    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    font-weight: var(--fw-light);
    text-transform: uppercase;
}

.hamburger-menu__links li:not(:last-child) {
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--c-sub);
    margin: 2rem 0;
    opacity: 0.6;
}

.hamburger-menu__info {
    opacity: 0.6;
}

.hamburger-menu__info>p {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.hamburger-menu__info p:not(:last-of-type) {
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.email {
    display: flex;
    align-items: center;
    font-weight: var(--fw-light);
    width: 100%;
    padding-top: 2rem;
}

.email>p {
    font-size: 1rem !important;
}

.line {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--c-sub);
    margin-right: 1.5rem;
}

.email p {
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
    letter-spacing: 2px;
    color: var(--c-bg);
    text-transform: uppercase;
}

.open {
    transition: transform 0.5s ease;
    transform: translateY(0vh);
}

.close {
    animation: closeMenu 0.5s;
}

.hamburger-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.hamburger-menu__header * {
    color: var(--c-bg);
    opacity: 0;
}

.open .hamburger-menu__header * {
    transition: opacity 0.2s ease-in 0.4s;
    opacity: 1;
}

.close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: var(--fw-regular);
    font-family: var(--f-main);
}

.logo {
    font-weight: var(--fw-semi-bold);
}

.logo, .close-button {
    text-transform: uppercase;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
}

@media only screen and (min-width: 28em) {
    .hamburger-menu {
        display: none;
    }

    body {
        overflow: auto !important;
    }
}

@keyframes closeMenu {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}