.header {
    height: clamp(6.3rem, 10vw, 10rem);
    position: fixed;
    width: 100%;
    /* background-color: rgba(237, 234, 232, 0.9); */
    z-index: 100;
}

.logo {
    font-weight: var(--fw-semi-bold);
    font-style: italic;
}

.hamburger-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: var(--fw-regular);
    font-family: var(--f-main);
}

.logo, .hamburger-button {
    text-transform: uppercase;
    font-size: clamp(1.6rem, 1.8vw, 2rem);
    z-index: 2;
}

.email {
    display: none;
    /* text-transform: lowercase; */
    font-size: 1.2rem;
    font-weight: var(--fw-medium);
}

@media only screen and (min-width: 61.25em) {
    .hamburger-button {
        display: none;
    }
}