.section {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: clamp(10rem, 20vw, 30rem);
}

.marquee__title {
    border-top: 1px solid var(--c-sub);
    border-bottom: 1px solid var(--c-sub);
}

.marquee__title h3 {
    font-size: clamp(4rem, 15vw, 20rem);
    font-weight: var(--fw-regular);
    margin-right: clamp(4rem, 8vw, 10rem);

    text-transform: capitalize;
}

.line {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: var(--c-sub);
}

@media only screen and (min-width: 61.25em) {
    .section {
        width: 100%;
    }
}