.footer {
    /* height: clamp(6rem, 7vw, 12rem); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #dadada; */
}

.footer p {
    font-weight: var(--fw-medium);
    font-size: clamp(1rem, 1.2vw, 1.2rem)
}

.footer p:first-child {
    margin-bottom: 4px;
}

.copyright {
    font-weight: var(--fw-bold) !important;
    font-style: italic;
    margin-bottom: 1.5rem;
}