.side-element {
    position: fixed;
    bottom: 0px;
    right: clamp(2rem, 6vw, 10rem);
    display: none;
    text-transform: uppercase;
    opacity: 0.5;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact p {
    margin: 20px 0;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--c-main);
    font-weight: var(--fw-medium);
    opacity: 0.8;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.contact span {
    display: block;
    height: 90px;
    width: 1px;
    background-color: var(--c-sub);
}

.prompt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: clamp(8rem, 10vw, 12rem) auto;
}

.prompt--rev {
    justify-content: flex-start;
}

.prompt--rev .arrow-icon {
    margin-right: .5rem;
}

.prompt p {
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    font-weight: var(--fw-bold);
    margin-right: .5rem;
    text-transform: uppercase;
}

.arrow-icon {
    font-size: clamp(2rem, 2.3vw, 2.5rem);
}

@media only screen and (min-width: 61.25em) {
    .side-element {
        display: block;
    }

    .prompt {
        width: 80%;
        max-width: 100rem;
    }

}