/* VARIABLES */
:root {
  /* COLORS */
  --c-bg: #EDEAE8;
  /* --c-bg: #f9f9f9; */
  --c-main: #2C2B2B;
  --c-sub: #afafaf;
  /* FONTS */
  --ff-main: 'Inter', sans-serif;
  --ff-code: 'Fira Code', monospace;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* RESET */
html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--c-bg);
  color: var(--c-main);
  font-family: var(--ff-main);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* UTILITIES */
.padding-x {
  padding: 0 clamp(2rem, 6vw, 10rem);
}

.no-scroll {
  overflow: hidden;
}

/* FLEX UTILITIES */
.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

/* TYPOGRAPHY */
/* p {
  font-size: clamp(1.4rem, 1.8vw, 1.6rem);
} */