/* VARIABLES */
:root {
  --c-bg: #EDEAE8;
  --c-main: #2C2B2B;
  --f-main: 'Inter', sans-serif;
}

/* RESET */
html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--c-bg);
  color: var(--c-main);
  font-family: var(--f-main);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}